@import "tailwindcss";

@theme {
  --width-max-container: 37.5rem;
  --color-bg-100: #f7f9fa;
  --color-bg-200: #ffffff;
  --color-fg-100: #14171a;
  --color-fg-200: #1da1f2;
  --color-fg-300: #657786;
  --color-fg-400: #aab8c2;
  --color-accent-200: #17bf63;
  --color-danger-100: #e0245e;
}

@layer base {
  h1,
  h2,
  h3 {
    @apply capitalize;
  }

  p {
    @apply text-sm text-gray-400;
  }

  h3 {
    @apply text-base text-black font-medium;
  }
}

@layer components {
  .upgrade_plan {
    @apply w-full flex p-3 rounded-xl bg-white border border-gray-300 justify-between mb-5;
  }
}

body {
  @apply text-fg-100 bg-bg-100 font-medium leading-tight;
  overscroll-behavior: none;
  font-family: var(--font-geist-sans), sans-serif;
}
